[DEFAULT]
notification_driver=ceilometer.compute.nova_notifier
notification_driver=nova.openstack.common.notifier.rpc_notifier
notification_driver =
notification_topics=notifications
rpc_backend=rabbit
internal_service_availability_zone=internal
default_availability_zone=nova
notify_api_faults=False
state_path=/var/lib/nova
report_interval=10
compute_manager=nova.compute.manager.ComputeManager
service_down_time=60
rootwrap_config=/etc/nova/rootwrap.conf
auth_strategy=keystone
heal_instance_info_cache_interval=60
reserved_host_memory_mb=512
network_api_class=nova.network.neutronv2.api.API
default_floating_pool=public
force_snat_range=0.0.0.0/0
metadata_host=192.168.0.10
dhcp_domain=novalocal
security_group_api=neutron
debug=False
verbose=True
log_dir=/var/log/nova
use_syslog=False
compute_driver=libvirt.LibvirtDriver
vif_plugging_is_fatal=True
vif_plugging_timeout=300
firewall_driver=nova.virt.firewall.NoopFirewallDriver
force_raw_images=True
novncproxy_base_url=https://{{ controller_public_ip }}:6080/vnc_auto.html
vncserver_listen=0.0.0.0
vncserver_proxyclient_address={{ compute_ip }}
vnc_enabled=True
vnc_keymap=en-us
volume_api_class=nova.volume.cinder.API
amqp_durable_queues=False
rabbit_hosts=192.168.0.10:5672
rabbit_use_ssl=False
rabbit_userid=guest
rabbit_ha_queues=False
rabbit_password=guest
rabbit_host=192.168.0.10
sql_connection=mysql://nova@192.168.0.10/nova
rabbit_virtual_host=/
image_service=nova.image.glance.GlanceImageService
rabbit_port=5672
lock_path=/var/lib/nova/tmp
[api_database]
[barbican]
[cells]
[cinder]
[conductor]
[database]
[ephemeral_storage_encryption]
[glance]
api_servers=192.168.0.10:9292
[guestfs]
[hyperv]
[image_file_url]
[ironic]
[keymgr]
[keystone_authtoken]
[libvirt]
virt_type=qemu
inject_password=False
inject_key=False
inject_partition=-1
live_migration_uri=qemu+tcp://nova@%s/system
cpu_mode=none
vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver
[metrics]
[neutron]
url=http://192.168.0.10:9696
admin_username=neutron
admin_password=b80e24e5e8fe4939
admin_tenant_name=services
region_name=RegionOne
admin_auth_url=http://192.168.0.10:35357/v2.0
auth_strategy=keystone
ovs_bridge=br-int
extension_sync_interval=600
url_timeout=30
default_tenant_id=default
[osapi_v3]
[rdp]
[serial_console]
[spice]
[ssl]
[trusted_computing]
[upgrade_levels]
[vmware]
[workarounds]
[xenserver]
[zookeeper]
[matchmaker_redis]
[matchmaker_ring]
[oslo_concurrency]
[oslo_messaging_amqp]
[oslo_messaging_qpid]
[oslo_messaging_rabbit]
