[[local|localrc]]

# new in compute node
#--------------------
HOST_IP={{ host_ip }}
FIRST_HOST={{ first_ip }}
FIRST_HOST_PUBLIC={{ first_public_ip }}

SERVIE_HOST=$FIRST_HOST
MYSQL_HOST=$FIRST_HOST
RABBIT_HOST=$FIRST_HOST
GLANCE_HOSTPORT=$FIRST_HOST:9292

ENABLED_SERVICES=n-cpu,n-net,n-api,c-vol

NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://$FIRST_HOST_PUBLIC:6080/vnc_auto.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN

DATABASE_TYPE=mysql

# -------------------

SERVICE_TOKEN=DKS3MQMX72MSLQP231N
ADMIN_PASSWORD=supersecret
MYSQL_PASSWORD=radicallyrelational
RABBIT_PASSWORD=rasciallyrabbit
SERVICE_PASSWORD=supersecret

FLAT_INTERFACE=eth0

# private IPs
FIXED_RANGE=10.0.0.0/16
FIXED_NETWORK_SIZE=65534
# public IPs
FLOATING_RANGE=192.168.0.0/24

MULTI_HOST=True

LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=2

SWIFT_HASH=66a3d6b56c1f479c8b4e70ab5c2000f5
SWIFT_REPLICAS=1
SWIFT_DATA_DIR=$DEST/data

enable_service tempest
